*.bak_001f
*.bak_000d
*.DS_Store
*.idea
Icon
Icon?
RandomUsefulStuff/*
Jogo/debug.log
Jogo/resources/html/debug.log
Jogo/resources/code/classes/Snake/debug.log
Jogo/resources/code/classes/Possivel novo jogo/debug.log
Jogo/resources/code/classes/Mnty_Hall/debug.log
