h2{
    position: top;
    display: inline; 
}

h1{
    color: #172121;
	text-align: center;
}

body{
	overflow: hidden;
	overflow-y: hidden;
	text-align: center;
}
section{
	margin:auto;
	width: auto;
    height: 90%;
	padding-top: 2.5%;
	padding-left:5%;
	padding-right: 5%;
}

canvas {
	margin:auto;
	display: block;
    border: 3px;
	border-color: burlywood;
} 