body{
	overflow: hidden;
	overflow-y: hidden;
	text-align: center;
}
section{
	margin:auto;
	width: auto;
    height: 90%;
	padding-top: 2.5%;
	padding-left:5%;
	padding-right: 5%;
}

canvas {
	margin:auto;
    width: auto;
	height: 90%;
	display: block;
    border: 3px;
	border-color: burlywood;
	font-family: EvilEmpire;
}  

h1{
	margin:auto;
	width: auto;
	margin-top: 5%;
	height: 10%;
	/*text*/
	text-align: center;
	font-family: EvilEmpire;
	font-size: 3vw;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.svg"), auto;
}

button{
	height: 10%;
	font-size: 150%;
}