table{
	height: 10%;
	width: fit-content;
	margin:auto;
}

h2{
	width: 100%;
	font-family: EvilEmpire;
	font-size: 2.5vw;
	text-align: center;
}
td{
	text-align: center;
	font-family: PoeSans;
	font-size: 1vw;
}

img{
	max-height: 50%;
	width: inherit;
	height: inherit;
}