html{
	margin:1%;
	/*compensar a margem*/
	height: 98%; 	
	width: 98%;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.png"), auto;
}

body{
	margin:1%;
	/*compensar a margem do html e body*/
	height: 94%; 	
	width: 94%;	
	/*impedir o scroll*/
	overflow: hidden;
	overflow-y: hidden; 
	/*ponteiro*/	
	cursor: url("../textures/gui/pointer.png"), auto;
}

header{
	margin:auto;
	width: auto;
    height: 20%;
	/*text*/
	text-align: center;
	font-family: EvilEmpire;
	font-size: 3vw;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.png"), auto;
}

section{
	margin:auto;
	margin-bottom: 5%;
	width: auto;
    height: 70%;
	/*bacground de papel*/
	background: url("../textures/gui/background.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.png"), auto;

}

button{
	margin:auto;
	margin-top:1%;
	width: 70%;
	height: 15%;
	/*em coluna*/
	display: block;
	/*bacground de madeira*/
	background-image: url("../textures/gui/buttonLong_brown.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	border: none;
	/*texto*/
	font-family: EvilEmpire;
	font-size: 3vw;
	color: rgb(177, 138, 87);
	text-align: center;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.png"), auto;
}

button:hover{
    color:burlywood;
}
 button:active{
	background-image: url("../textures/gui/buttonLong_brown_pressed.png"); 
    background-size: contain;
    color:burlywood;
}
