
section{
	margin:auto;
	text-align: center;
	width: 50%;
    height: 90%;
	padding-top: 3%;
	padding-bottom: 4%;
	padding-left:5%;
	padding-right: 5%;
}

h2{
	font-family: EvilEmpire;
	font-size: 200%;
	margin: 0%;
}
h3{
	font-family: PoeSans;
	font-size: 100%;
}
table{
	width: 100%;
	table-layout: fixed;
	text-align: center;
}