html{
    background-image: url("../textures/background/uc.png");
    background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}

body{
	min-height: 90%;
	height: 90%
}

header{
	text-align: center;
	font-family: EvilEmpire;
}

h1{
	text-align: center;
    font-size: 500%;
}

iframe{
	display: block;
	position: relative;
	text-align: center;
	width: 100%;
	height: 70%;
	border-color: transparent;
	background-color: transparent;
}
            
