html{
	margin:1%;
	/*compensar a margem*/
	height: 98%; 	
	width: 98%;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.svg"), auto;
}

body{
	margin:1%;
	/*compensar a margem do html e body*/
	height: 94%; 	
	width: 94%;	
	/*impedir o scroll*/
	overflow: hidden;
	overflow-y: hidden; 
	/*ponteiro*/	
	cursor: url("../textures/gui/pointer.svg"), auto;
}

header{
	margin:auto;
	width: auto;
    height: 20%;
	/*text*/
	text-align: center;
	font-family: EvilEmpire;
	font-size: 3vw;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.svg"), auto;
}

section{
	margin:auto;
	margin-bottom: 5%;
	width: auto;
    height: 70%;
	/*bacground de papel*/
	background: url("../textures/gui/background.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.svg"), auto;
}
h2{
	font-family: EvilEmpire;
	font-size: 2.5vw;
	text-align: center;
}
input{
	margin:auto;
	margin-top:1%;
	width: 30%;
	height: 10%;
	display: block;
	text-align: center;
	font-family: PoeSans;
	font-size:200%;
}
button{
	margin:auto;
	margin-top:1%;
	width: 70%;
	height: 15%;
	/*em coluna*/
	display: block;
	/*bacground de madeira*/
	background-image: url("../textures/gui/buttonLong_brown.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	border: none;
	/*texto*/
	font-family: EvilEmpire;
	font-size: 300%;
	color: rgb(177, 138, 87);
	text-align: center;
	/*ponteiro*/
	cursor: url("../textures/gui/pointer.svg"), auto;
}
button:hover{
    color:burlywood;
}
button:active{
	background-image: url("../textures/gui/buttonLong_brown_pressed.svg"); 
    background-size: contain;
    color:burlywood;
}
button:disabled{
	background-image: url("../textures/gui/buttonLong_disabled.svg"); 
    background-size: contain;
    color:rgb(189, 185, 180);
}